.sacola{
	background: url(../img/sacola.png) no-repeat top right;
	font-size:14px;
	width:140px;
	padding-right:35px;
	text-align:right;
	padding-top: 8px;
	position:absolute;
	top:0;
	right:0;
	/* display: none; */
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/* font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif; */
	margin: 0;
	/* background-color: #d9d9d9; */
}
.clear {
	clear: both;
}
ul {
	list-style: none;
	position: relative;
}
.navbar-nav > li:hover {
	background: #c3c3c3;
}
ul li itens:hover {
	background: #d9d9d9;
}

ul li {
	display: block;
}
.input-busca {
	width: 500px !important;
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}
.sub-menu {
	position: absolute;
	width: 200px;
	right: -200px;
	top: 0;
}

.sub-menu li {
	margin-bottom: 0 !important;
	padding-left: 20px !important;
	width: auto;
}
.menu-opcoes ul li {
	display: inline-block;

	margin: 5px;
}

.container {
	margin: 0 auto;
	width: 96%;
  }

.logotipo {
	position: relative;
	top: 20px;
	left: 50px;
}

header {
	position: relative;
}

.menu-opcoes {
	bottom: 0;
	right: 0;
	position: static;
	text-align: center;
}

.menu-opcoes a:hover {
	color: #007dc6;
}
.menu-opcoes a:active {
	 color: #867dc6;
}

.busca, .menu-departamentos {
  margin-right: 10px;
  width: 20%;
  float: left;
}

.busca h2, .busca form, .menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: #d9d9d9;
  margin-bottom: 1px;
  padding: 8px 15px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.menu-departamentos {
	clear: left;
	/* margin-top: 10px; */
	padding-bottom: 10px;
}

.destaque {
	margin-top: 10px;
}

/*********************************************************************
					 		NOVO MENU
*********************************************************************/
.app__header__menu {
	background-color: #fff;
    border-bottom: .1rem solid #ccc;
}
.app__menu__level1 {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3.2rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.app__menu__level1 a {
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    text-transform: uppercase;
	padding: 20px;
}
.app__menu__level1 a.is-active {
	font-weight: 700;
}



/*********************************************************************
						ITENS DE PRODUTOS
*********************************************************************/
.app__home__cards {
    text-align: center;
}
.app__home__cards__item {
	padding-top: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
    width: 33.3%;
	float: left;
}
.app__home__cards a {
    display: block;
}
.app__transition__wrapper {
    background: #f4f4f4;
    padding-bottom: 100%;
    position: relative;
}
.app__transition__wrapper img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}
.app__home__cards__details, .app__home__cards__social {
    padding-bottom: 0;
    padding: 2rem 0;
}
.app__home__cards__item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
	text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.app__home__cards__details>button, .app__home__cards__social>button {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
	color: #000;
    background-color: transparent;
    background-image: none;
    border-color: #000;
    border-radius: 0;
}




.painel {
	/* margin: 10px 0;
	padding: 10px; */
	width: auto;
}

/* .painel-compacto li:nth-child(n+7) {
	display: none;
} */
.painel-compacto button {
	display: block;
}

.novidades {
	float: left;
	background-color: #d9d9d9;
	background-color: #d9d9d9;
}

.mais-vendidos {
	float: right;
	background: #dcdcf5;
	background-color: #d9d9d9;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 1%;
	padding-bottom: 10px;
}

.painel img {
	width: 100%;
}

/*.painel figure {
	margin: 0 !important;
}*/

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;

}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social a {
	/* tamanho da imagem */
	height: 32px;
	width: 32px;

	/* image replacement */
	display: block;
	text-indent: -9999px;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

.menu-departamentos ul {
	padding: 0;
}
.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos ul ul li {

}

.menu-departamentos li li a:before {
	padding-right: 3px;
	margin-right: 5px;
}

.painel h2:before {
	content: '\2756';
	padding-right: 5px;
	opacity: 0.4;
}

.painel {
	border-radius: 4px;
	box-shadow: inset 1px 1px 4px #999;
	margin-bottom: 25px;
    margin-top: 25px;
}

.painel h2 {
	text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}

/* RESPONSÁVEL POR FAZER O FUNDO (FALTA AJUSTAR LAYOUT) */
.painel li:hover {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transition: 0.7s;
	transform: scale(1.2);
	transform: scale(1.2) rotate(-5deg);
	transition: 0.7s ease-in;
  }

.painel li {
	transition: 0.7s ease-out;
}

.painel button {
	display: none;
}

.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.painel li:nth-child(2n):hover {
transform: scale(1.2) rotate(5deg);
}

.bd-example {
	padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
	position: relative;
    border: solid #f8f9fa;
}

header h1 {
	text-align: center;
}

header h1 img {
	max-width: 50%;
}

.busca, .menu-departamentos, .destaque img {
  margin-left: 0;
}

@media only screen and (max-width: 780px) {

	.painel li {
		width: 47%;
	}

	.busca, .menu-departamentos, .destaque img {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {

	.painel li {
		width: 100%;
	}
	.painel img {
		width: 100%
	}
}

* { margin: 0; padding: 0; }

#slider {
	list-style: none;
	width: 550;
	height: 490px;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
	position: relative;
	float: right;

}

#slider li {
	position: relative;
	z-index: 0;
	/* display: none; */
}

#slider li.sliderActive {
	z-index: 1;
}

.public-image-tag-m {
  position: absolute;
  top: 15px;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.public-image-tag-m li {
  text-indent: 20px;
  line-height: 40px;
}
.public-image-tag-m li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.public-image-tag-m li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-tag-m li a:active, .public-image-tag-m li a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-category-a {
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.public-image-category-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-category-a:active, .public-image-category-a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-category-a:first-letter {
  text-transform: uppercase;
}

.public-image-tag-a {
  margin-left: -25px;
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.public-image-tag-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #337cb7;
  background: rgba(211, 211, 211, 0.2);
}
.public-image-tag-a:active, .public-image-tag-a:focus {
  cursor: pointer;
  text-decoration: none;
}
.public-image-tag-a:first-letter {
  text-transform: uppercase;
}

.selected {
  background: rgba(174,171,172,0.2);
  li {
    display: block;
  }
}
